@charset 'UTF-8';

/* Todas as demais midias */

/*
Types devices breackpoints: 16/03/2024
-----------------------------------
telas pequenas: de 320px ate 480px
celulares: de 481px ate 768
tablets: de 769 ate 1024
desktop: de 1025 ate 1200
telas grandes: acima de 1201
*/

@media print {
  
}

@media screen and (min-width:769px) and (max-width:1024) {
  
}

@media screen and (min-width:1025px) and (max-width:1200) {
  
}

@media screen and (min-width:1201px) {
  
}